/**** COLORS ****/

$black: #000000;
$vampie-black: #080808;
$rich-black: #013a3c;
$charleston-green: #212b36;
$raisin-black: #222222;
$dark-charcoal: #303030;
$maximum-blue-green: #1cc7c7;
$light-sea-green: #17a3a3;
$tiffany-blue: #00c3ae;
$dark-turquoise: #00e2c9;
$anti-flash-white: #efeff4;
$light-gray: #d2d2d2;
$bright-gray-01: #ebebeb;
$bright-gray-02: #ededed;
$cultured: #f4f4f4;
$platinum: #e3e3e3;
$spanish-grey: #979797;
$light-silver: #d9d9d9;
$white: #ffffff;

/**** BORDER RADIUS ****/

$border-radius-input: 1.5rem;
$border-radius-content: 0.9375rem;
$border-radius-button: 0.5rem;

/**** PADDING ****/

$padding: 6.25rem 8.75rem;

/**** TRANSITIONS ****/

$transition-03: 0.3s all ease;
